<h1 class="mt-5">レース予想</h1>

<div class='article'>
  <div class='card'>
    <div class='card-body text-center'>
      <%= link_to 'レース予想', new_result_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
